*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button{
    height: 50px;
    width: 150px;
    border: solid 1px purple;
    border-radius: 40px;
    background-color: plum;
    color: purple;
    font-family: 'poppins';
    font-size: 18px;
    margin: 40px;
}
button:hover{
    background-color: purple;
    color: plum;
}
.bulle{
    border: solid 20px;
    border-radius: 150px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: white;
    
}
.bulle img{
    width: 200px;
}
.p{
    font-family: 'poppins';
    font-size: 20px;
}
.line{
    height: 10px;
    width: 100%;
    background-color: black;
    position: absolute;
    top:50%;
    z-index: -30;
}
.contain{
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.skip{
    visibility: hidden;
}